@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/main";
@import "layout/footer";

.main-wrapper {
    background: #E5E5E5;
}

.container {
    width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
}
