@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/company";
@import "layout/tasks";
@import "layout/projects";
@import "layout/request";
@import "layout/footer";

.main-wrapper {
    background: #ffffff;
}

.container {
    width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
}
