.request {
    margin: 60px 0;
    &__title {
        @include font(TT Hoves, normal, 300, 64px, 64px, #bdbdbd);
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__inner {
        margin-top: 22px;
        display: flex;
        flex-direction: column;
    }
    &__input {
        width: 391px;
        height: 46px;
        margin-top: 10px;
        padding-left: 21px;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        box-sizing: border-box;
        background: #f3f3f3;
    }
    &__input:first-of-type {
        margin-top: 0;
    }
}
